@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header {
    position: relative;
    width: 100vw;
    height: 64px;
    border-bottom: 1px solid rgba(28, 31, 39, 0.1);
    display: flex;
    align-items: center;
}

.header__left {
    padding-left: 20px;
    cursor: pointer;
}

.header__left>a {
    color: #F27227;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.header__right {
    position: relative;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 24px;
}

.btnCreate {
    margin-right: 36px;
    cursor: pointer;
    height: 40px;
    width: 114px;
    background-color: #1C1F27;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}

.btnCreate>i {
    padding-right: 8px;
}

.btnNoti {
    border: 0;
    background-color: white;
    cursor: pointer;
    padding-right: 36px;
    font-size: 20px;
}



.btnProfile {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
}

.btnProfile>img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 8px;
}

.btnProfile__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btnProfile__info--username {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1C1F27;
}

.btnProfile__info--role {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(28, 31, 39, 0.8);
}

.dropdownProfile {
    float: right;
    margin: 4px 12px 0 0;
    width: 368px;
    height: 331px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border-style: outset;
    position: absolute;
    margin-top: 60px;
    right: 12px;
    display: none;
    transition: all 0.2s ease;
}


.showProfile {
    display: flex;
    padding: 26px 0 0 24px;
    flex-wrap: wrap;
}

.showProfile img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.showProfile__info {
    margin-left: 12px;
}

.showProfile__info--username {
    font-weight: 600;
    font-size: 16px;
}

.showProfile__info--email {
    font-weight: 400;
    font-size: 14px;
}

.listDropdown ul li {
    list-style: none;
    padding: 16px 0 32px 0;
    cursor: pointer;
}


.listDropdown ul li a:hover {
    color: #7470E9;
}

.listDropdown ul li a {
    text-decoration: none;
    color: black;
}

#logOut {
    margin: auto;
    display: block;
    width: 320px;
    height: 48px;
    padding: 0 24px 0 24px;
    color: white;
    background-color: #7470E9;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}
